{#

    Usage:
        Add the following line to the jinja or rST file:
        {% from '/common/functions/configuration_files.jinja' 
                import configuration_files with context %}
    
    Args:
    
    Returns:
        configuration_files (dict): Contains the following config file information:
            configuration_files.variables_file.unix (dict)                : Path to config file variables, unix path
            configuration_files.variables_file.windows (dict)             : Path to config file variables, windows path                     
            configuration_files.source_configuration_files.unix            : Path to config files, unix path
            configuration_files.source_configuration_files.windows         : Path to config files, windows path
            configuration_files.source_configuration_files.windows_escaped : Path to config files, windows path
            configuration_files.source_configuration_files.unix            : Path to config files destination directory, unix path
            configuration_files.configuration_directory.unix (dict)       : Path to config files, unix path
            configuration_files.configuration_directory.windows (dict)    : Path to config files, windows path
            targets (list)                                                : hosts defined with configuration_files role


#}
.. START: {{ self._TemplateReference__context.name }}

{% set configuration_files = {'variables_file':          {'unix': Undefined,
                                                          'windows': Undefined,},
                           'source_configuration_files': {'unix': Undefined,
                                                          'windows': Undefined,},
                            'configuration_directory':   {'unix': Undefined,
                                                          'windows': Undefined,},
                            'targets':                   [],
                            } %}

{# Get the configuration files path #}
{% for role in roles if role.get('configuration_files','') %}
    {% do configuration_files.variables_file.update({'unix': role['configuration_files']['variables_file']}) %}
    {% do configuration_files.configuration_directory.update({'unix': role['configuration_files']['configuration_directory'] }) %}
    {% if role.configuration_files.source_configuration_files %}
        {% do configuration_files.source_configuration_files.update({'unix': role['configuration_files']['source_configuration_files'] }) %}
    {% elif role.configuration_files.configuration_files %}
        {% do configuration_files.source_configuration_files.update({'unix': role['configuration_files']['configuration_files'] }) %}
    {% endif %}
{% endfor %}

{% for h in host if h.get('roles', '') %}
    {% for role in h['roles'] if role.get('configuration_files', '') %}
        {% do configuration_files.targets.append(h) %}
    {% endfor %}    
{% endfor %}



{# prep for unix or windows
   NOTE: paths are stored in unix #}
{% do configuration_files.source_configuration_files.update({'windows': configuration_files.source_configuration_files.unix|replace("/", "\\") }) %}
{% do configuration_files.source_configuration_files.update({'windows_escaped': configuration_files.source_configuration_files.unix|replace("/", "\\\\") }) %}
{% do configuration_files.variables_file.update({'windows': configuration_files.variables_file.unix|replace("/", "\\") }) %}
{% do configuration_files.variables_file.update({'windows_escaped': configuration_files.variables_file.unix|replace("/", "\\\\") }) %}
{# Windows configuration directory is a completely different path than unix #}
{% do configuration_files.configuration_directory.update({'windows': '' }) %}

{#############################}
{## MACROS ##}
{% macro configuration_files_check(system_type) %}
    {# check if variables are defined correctly
    
        Args:
            system_type (string): two options are unix or windows
        
        Return:
            Print TBD if variable not defined
    #}
    {% if system_type|lower == 'unix' %}
        {% if not configuration_files.source_configuration_files.unix %}
:tbd:`Source configuration files is empty (UNIX)` **Source configuration files is empty (UNIX)**
        {% endif %}

        {% if not configuration_files.variables_file.unix %}
:tbd:`Configuration variables file empty (UNIX)` **Configuration variables file empty (UNIX)**
        {% endif %}

        {% if not configuration_files.configuration_directory.unix %}
:tbd:`Configuration directory empty (UNIX)` **Configuration directory empty (UNIX)**
        {% endif %}
    {% elif system_type|lower == 'windows' %}
        {% if not configuration_files.source_configuration_files.windows %}
:tbd:`Source configuration files is empty (Windows)` **Source configuration files is empty (Windows)**
        {% endif %}

        {% if not configuration_files.variables_file.windows %}
:tbd:`Configuration variables file empty (Windows)` **Configuration variables file empty (Windows)**
        {% endif %}

        {% if not configuration_files.configuration_directory.windows %}
:tbd:`Configuration directory empty (Windows)` **Configuration directory empty (Windows)**
        {% endif %}
    {% endif %}
{% endmacro %}
{###########################}

{###########################}
{% macro configuration_files_media_pn_check() %}

    {% if not configuration_files_media_pn %}
:tbd:`Need system configuration media PN` **Need system configuration media PN, see conf.py**
    {% endif %}
    
{% endmacro %}
{###########################}


.. END: {{ self._TemplateReference__context.name }}

