{% set domain_name = dns.forward_lookup_zones|selectattr('type','equalto','primary')
                    |map(attribute='domain_name')|first %}
                    
{% set top_level_domain = dns.tld %}
                    
{% macro domain_name_check() %}
    {% if not domain_name %}
:tbd:`unable to determine domain name` **unable to determine domain name**
    {% endif %}
{% endmacro %}

{% macro tld_check() %}
    {% if not tld %}
:tbd:`unable to determine the Top Level Domain` **Unable to determine the Top Level Domain**
    {% endif %}
{% endmacro %}