{#
    Finds the hosts with the specified role
    
    Args:
    hosts_to_search: If set to a context, it will use the `host` data structure from that context, 
                     otherwise it will look in the current `host` data structure.
    roles: Finds a host with the specified role.
    
    Sets:
    found_hosts (list): A list of the `host` entries that have the specified role
    
    
#}    

.. START: {{ self._TemplateReference__context.name }}


{% set found_hosts = [] %}

{% for h in hosts_to_search | default(host) %}
    {% for role in roles %}
        {% set r = h.get('roles', [{}]) | selectattr(role) | first %}
        {% if r %}
            {% do found_hosts.append(h) if h not in found_hosts %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% set h = 'fail' %}
{% set r = 'fail' %}
.. END: {{ self._TemplateReference__context.name }}