{#

    Get reposerver host -- there should only be one. Be sure to include 
    the reposerver_check().
    
    Usage:
        Be sure this is included after a title so the TBDs will render
        and not throw build errors
        
        Add the lines to the jinja or rST file:
            {% from '/common/functions/reposerver.jinja' 
                    import vcenter with context %}
                    
            {{ reposerver_check() }}
    
    Args:
        None
        
    Return:
        reposerver (list): reposerver host data structure

#}
.. START: {{ self._TemplateReference__context.name }}

{% set reposerver = [] %}
{% for h in host if h.get('roles','') | selectattr('reposerver','equalto',True)|list %}
    {% do reposerver.append(h) %}
{% endfor %}


{% macro reposerver_check() %}
    {% if not reposerver %}
:tbd:`No Solaris 11 Repository servers were found.  This is probably an error in the configuration files.`
**No Solaris 11 Repository servers were found.  This is probably an error in the configuration files.**
    {% elif reposerver|length > 1 %}
:tbd:`Matched too many hosts with the reposerver role` 
**Matched too many hosts with the reposerver role**
    {% endif %}
{% endmacro %}

.. END: {{ self._TemplateReference__context.name }}

