{#

    Get vcenter01 from hosts. This is used for logging into vcenter01.
    
    E.g. logging into vcenter01.mme.local while in MME01 context
    
    Usage:
        Be sure this is included after a title so the TBDs will render
        and not throw build errors
        
        Add this line to the jinja or rST file:
            {% from '/common/functions/get_vcenter_host.jinja' 
                    import vcenter with context %}
    
    Args:
        None
        
    Return:
        vcenter (dict): vcenter01 host data structure

#}
.. START: {{ self._TemplateReference__context.name }}

{% set vcenter = [] %}
{% for h in host %}
    {% for role in h['roles'] if role.get('vcenter','') == True %}
        {% do vcenter.append(h) %}
    {% endfor %}
{% endfor %}

{% set vcenter = vcenter[0] %}

{% if not vcenter %}
:tbd:`vcenter is undefined` **vcenter is undefined**
{% endif %}

.. END: {{ self._TemplateReference__context.name }}

