{# THIS IS A JINJA TEMPLATE, ALL OF THIS MAY NOT APPLY TO YOUR FILE. #}


{#DEBUG - This helps with debugging. Do not remove this line.#}
.. START: {{ self._TemplateReference__context.name }}



{# SELECT FILTER - #}


{# TITLE / HEADING - Update the title and heading level. Updating the heading level can be done by incrementing the number. The main heading level is set in the reST file that is called prior.#}

{{ common_macros.generate_heading(globals.heading_level +1,
                               'TEMPLATE TITLE') }}

{# APPLICABLE SYSTEMS -  These are the systems that are needed to run the procedure against. Update the servername and username required. #}

{{ common_macros.applicable_servers_table(['templateserver'], 'templateuser') }}


{#CONTENT - Put your content here #}



{# MACROS -  #}

{% import '/common/jinja_macros/common_macros.jinja' as common_macros %}



{# SIGN OFF TABLE - Is for the installer to note that they have completed the section. #}

{{ common_macros.sign_off_table( [h['hostname']]) }}


{# DEBUG - This helps with debugging. Do not remove this line.#}
.. END: {{ self._TemplateReference__context.name }}
