{% macro applicable_servers_table(targets, user) %}

.. tabularcolumns:: |p{\dimexpr 0.3\linewidth-2\tabcolsep}
                    |>{\RaggedRight}p{\dimexpr 0.5\linewidth-2\tabcolsep}|

.. list-table::
    :header-rows: 0

    - * :strong:`Applicable Systems:`
      * {% if targets %}``{{ targets | join(',`` ``') }}``{% endif %}
    - * :strong:`User:`
      * {% if user %}``{{user}}``{% endif %}

{% endmacro %}



{% macro sign_off_table(targets) %}
{% for target in targets %}
    {% if loop.first %}

:strong:`Mark Complete:`

.. tabularcolumns:: |p{\dimexpr 0.28\linewidth-2\tabcolsep}
                    |p{\dimexpr 0.4\linewidth-2\tabcolsep}
                    |p{\dimexpr 0.28\linewidth-2\tabcolsep}|

.. list-table::
    :header-rows: 1
    :widths: 1,3,1

    - * :strong:`Computer Name`
      * :strong:`Print and Sign Name or Man Stamp`
      * :strong:`Date`
    {% endif %}
    - * {% if target %}``{{ target }}``{% endif %}
      *
      *

{% endfor %}
{% endmacro %}



{% macro sign_off_table_wide(targets) %}
{% for target in targets %}
    {% if loop.first %}

:strong:`Mark Complete:`

.. tabularcolumns:: |p{\dimexpr 0.4\linewidth-2\tabcolsep}
                    |p{\dimexpr 0.4\linewidth-2\tabcolsep}
                    |p{\dimexpr 0.2\linewidth-2\tabcolsep}|

.. list-table::
    :header-rows: 1
    :widths: 3,3,1
    :align: left
    :class: longtable

    - * :strong:`Computer Name`
      * :strong:`Print and Sign Name or Man Stamp`
      * :strong:`Date`
    {% endif %}
    - * {% if target %}``{{ target }}``{% endif %}
      *
      *

{% endfor %}
{% endmacro %}



{% macro make_link_string(title) %}
.. _{{ title.replace(' ', '-') | lower }}:
{% endmacro %}



{% macro generate_heading(level, title, link=False, context_name='') %}
{% if link %}
{{ make_link_string(title + context_name) }}
{% endif %}
{% set headers = '#*=-^"!@$%' %}
{{ '{}'.format(headers[level]) * 120 }}
{{ '{}'.format(title) }}
{{ '{}'.format(headers[level]) * 120 }}
{% endmacro %}
