{% macro DoDNoticeConsentBanner(network_offset,network_input) %}
.. code-block:: none

    !
    configure terminal
    !
    banner {{network_input}}  ***************************************************************************
    banner {{network_input}}                        DOD NOTICE AND CONSENT BANNER
    banner {{network_input}}  ***************************************************************************
    banner {{network_input}}  You are accessing a U.S. Government (USG) Information System (IS) that is 
    banner {{network_input}}  provided for USG-authorized use only.
    banner {{network_input}}  By using this IS (which includes any device attached to this IS), you
    banner {{network_input}}  consent to the following conditions:
    banner {{network_input}}  -The USG routinely intercepts and monitors communications on this IS for
    banner {{network_input}}  purposes including, but not limited to, penetration testing, COMSEC
    banner {{network_input}}  monitoring, network operations and defense, personnel misconduct (PM),
    banner {{network_input}}  law enforcement (LE), and counterintelligence (CI) investigations.
    banner {{network_input}}  -At any time, the USG may inspect and seize data stored on this IS.
    banner {{network_input}}  -Communications using, or data stored on, this IS are not private, are 
    banner {{network_input}}  subject to routine monitoring, interception, and search, and may be 
    banner {{network_input}}  disclosed or used for any USG authorized purpose.
    banner {{network_input}}  -This IS includes security measures (e.g., authentication and access 
    banner {{network_input}}  controls) to protect USG interests, not for your personal benefit or
    banner {{network_input}}  privacy.
    banner {{network_input}}  -Notwithstanding the above, using this IS does not constitute consent to
    banner {{network_input}}  PM, LE, or CI investigative searching or monitoring of the content of
    banner {{network_input}}  privileged communications, or work product, related to personal 
    banner {{network_input}}  representation or services by attorneys, psychotherapists, or clergy, 
    banner {{network_input}}  and their assistants. Such communications and work product are private and
    banner {{network_input}}  confidential. See User Agreement for details.
    banner {{network_input}}  ***************************************************************************
    {%- if input == 'asdm' %}
    banner asdm ---------------------------------------------------------------------------
    banner asdm               ADMINISTRATOR WARNING BANNER
    banner asdm ---------------------------------------------------------------------------
    banner asdm You have been entrusted with administrator access to **{{system}}** . Any 
    banner asdm changes could have drastic adverse system effects or cause a security
    banner asdm violation. Ensure any changes have been coordinated with engineering and
    banner asdm security.
    banner asdm ---------------------------------------------------------------------------
    {%- endif %}
    !
    end
    write memory
    !
{% endmacro %}