{%- macro print_disk_format(disk) -%}

{%- if disk['backing']['thinProvisioned'] -%}
Thin Provision
{%- else -%}
    {%- if disk['backing']['eagerlyScrub'] -%}
Thick Provision Eager Zeroed
    {%- else -%}
Thick Provision Lazy Zeroed
    {%- endif -%}
{%- endif -%}
{%- endmacro -%}



{%- macro print_scsi_address(disk) -%}
{{ disk['controller']['key'] - 1000 }}:{{disk['unitNumber']}}
{%- endmacro -%}



{%- macro print_nic_type(nic) -%}
{%- if nic['type']   == 'vim.vm.device.VirtualE1000' -%}
E1000
{%- elif nic['type'] == 'vim.vm.device.VirtualVmxnet' -%}
VMXNET
{%- elif nic['type'] == 'vim.vm.device.VirtualVmxnet2' -%}
VMXNET2
{%- elif nic['type'] == 'vim.vm.device.VirtualVmxnet3' -%}
VMXNET3
{%- endif -%}
{%- endmacro -%}