{# 
    This file will deploy a VM from an OVF/OVA file to an ESXi server directly
    (not a template clone since ESXi doesn't support this.
    
    Args:
        v:  The VM data structure
        
        globals[heading_level]: The current heading level
#}

{% import '/common/jinja_macros/vmware_macros.jinja' as vmware_macros %}

{% set networks = v['hardware']['device'] | selectattr('type', 'startswith', ('vim.vm.device.VirtualE1000',
                                                                              'vim.vm.device.VirtualVmxnet',
                                                                              'vim.vm.device.VirtualVmxnet2',
                                                                              'vim.vm.device.VirtualVmxnet3'
                                                                              'vim.vm.device.VirtualVmxnet4'))
                                          | list %}
{% set disks =    v['hardware']['device'] | selectattr('type', 'startswith', ('vim.vm.device.VirtualDisk',)) 
                                          | list 
                                          | sort(attribute='unitNumber') %}

{% set video_cards = v['hardware']['device'] | selectattr('type', 'startswith', ('vim.vm.device.VirtualVideoCard',)) 
                                             | list 
                                             | sort(attribute='key') %}

{{ common_macros.generate_heading(globals['heading_level'],
                                  'Deploy ``'+ v['name'] +'`` from Template',) }}
                                                                        
{{ common_macros.applicable_servers_table(['workstation'], 'xadministrator') }} 

Insert the :media:`A5502N0132` disk into the local optical drive.

.. list-table:: 
    :header-rows: 1
    :class: longtable

    * - **Window/Menu**
      - **Options/Actions**
      - **Action** 
    * - Desktop
      - 
      - Run :program:`vSphere Desktop Client`
    * - :guilabel:`VMware vSphere Client`
      -  Enter the following:
      
         * :guilabel:`IP address / Name`:
           ``{{ v['hosts'][0]['networking']['interfaces'][0]['ipv4_address'] }}`` 
         * :guilabel:`User name`: ``root``
         * :guilabel:`Password`:
           Enter the password for the ``root`` user
      - Click on :guilabel:`Login`
    * - :program:`vSphere Client`
      - 
      - :menuselection:`File --> Deploy OVF Template`
    * - :guilabel:`Deploy OVF Template - Source`
      - 
      - Click on the :guilabel:`Browse` button
    * - :guilabel:`Open`
      - Browse to :file:`B:\\{{v['template']}}.ova`
      - Click on the :guilabel:`Open` button
    * - :guilabel:`Deploy OVF Template - Source`
      - 
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Deploy OVF Template - OVF Template Details`
      -
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Deploy OVF Template - Name`
      - Enter the following information:
      
        :guilabel:`Name`: ``{{ v['name'] }}``
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Deploy OVF Template - Storage`
      - Select: :guilabel:`{{ v['datastore']['name'] }}`
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Deploy OVF Template - Disk Format`
      - Select :guilabel:`{{ vmware_macros.print_disk_format(disks[0]) }}`
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Deploy OVF Template - Network Mapping`
      - From the dropdown list, set the :guilabel:`Destination Networks` to be :guilabel:`{{ networks[0]['network']['name'] }}`
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Deploy OVF Template - Ready to Complete`
      - Verify that the :guilabel:`Power on after deployment` option is **UNCHECKED**
      - Click on the :guilabel:`Finish` button
      

    * - 
      - Wait for the OVF template to deploy, this will take a while.
      - 
      
    * - :program:`vSphere Client`
      - 
      - Right click on :guilabel:`{{ v['name'] }}` and select :guilabel:`Edit Settings`
    * - :guilabel:`Restricted Edit options`
      - You may receive a warning about the virtual machine being version 10 or higher.
      - Click on the :guilabel:`OK` button
    * - :guilabel:`{{v['name']}} - Virtual Machine Properties`
      - Select :guilabel:`Memory`, adjust the :guilabel:`Memory Size` to be ``{{ (v['hardware']['memoryMB'] / 1024) | int }}`` :guilabel:`GB`
      -
    * - :guilabel:`{{v['name']}} - Virtual Machine Properties`
      - Select :guilabel:`CPUs`, set the following options:
      
        * :guilabel:`Number of virtual sockets`: ``{{ (v['hardware']['numCPU'] / v['hardware']['numCoresPerSocket']) | int}}``
        * :guilabel:`Number of cores per socket`: ``{{ v['hardware']['numCPU'] }}``
      -
    * - :guilabel:`{{v['name']}} - Virtual Machine Properties`
      - Select :guilabel:`Hard disk 1`, set the following options:
      
        * :guilabel:`Provisioned Size`:  ``{{ disks[0]['size_in_gb'] }}`` :guilabel:`GB`
        * :guilabel:`Virtual Device Node`: :guilabel:`SCSI ({{vmware_macros.print_scsi_address(disks[0])}})`
      -
    
    {% for disk in disks[1:] %}
    * - :guilabel:`{{v['name']}} - Virtual Machine Properties`  
      -
      - Click on the :guilabel:`Add` button
    * - :guilabel:`Add Hardware - Device Type`
      - Select :guilabel:`Hard Disk`
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Add Hardware - Select a Disk`
      - Select :guilabel:`Create a new virtual disk`
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Add Hardware - Create a Disk`
      - Enter the following options:
        
        * :guilabel:`Disk Size`: ``{{ disk['size_in_gb'] }}`` :guilabel:`GB`
        * :guilabel:`Disk Provisioning`: :guilabel:`{{ vmware_macros.print_disk_format(disk) }}`
        * :guilabel:`Location`: {% if not disk['datastore'] %}:guilabel:`Store with the virtual machine`{%else%}select :guilabel:`Specify a datastore or datastore cluster` and enter ``{{disk['datastore']['name']}}``{% endif %}
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Add Hardware - Advanced Options`
      - Enter the following options:
        
        * :guilabel:`Virtual Device Node`: :guilabel:`SCSI ({{vmware_macros.print_scsi_address(disk)}})`
        * :guilabel:`Mode`:  Leave :guilabel:`Independent` **UNCHECKED**
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Add Hardware - Ready to Complete`
      - 
      - Click on the :guilabel:`Finish` button 
    {% endfor %}
      

      
    {% for network in networks[1:] %}
    * - :guilabel:`{{v['name']}} - Virtual Machine Properties`  
      -
      - Click on the :guilabel:`Add` button
    * - :guilabel:`Add Hardware - Device Type`
      - Select :guilabel:`Ethernet Adapter`
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Add Hardware - Network Type`
      - Select the following options:
      
        * :guilabel:`Adapter Type`: :guilabel:`{{vmware_macros.print_nic_type(network)}}`
        * :guilabel:`Network label`: :guilabel:`{{network['network']['name']}}`
        * :guilabel:`Connect at power on`
      - Click on the :guilabel:`Next` button
    * - :guilabel:`Add Hardware - Ready to Complete`
      - 
      - Click on the :guilabel:`Finish` button 
    {% endfor %}



    {% if video_cards %}
    * - :guilabel:`{{v['name']}} - Virtual Machine Properties`  
      - Select :guilabel:`Video card`
      
        Update the following options:
        
        * Select :guilabel:`Specify custom settings:`
        * :guilabel:`Number of displays`: ``{{video_cards[0]['numDisplays']}}``
        * :guilabel:`Total video memory`: ``{{(video_cards[0]['videoRamSizeInKB']/1024) | int}}``
        * :guilabel:`Enable 3D Support`: **{{'CHECKED' if video_cards[0]['enable3DSupport'] else 'UNCHECKED'}}**
      - 
    {% endif %}



    * - :guilabel:`{{v['name']}} - Virtual Machine Properties`
      - 
      - Click on the :guilabel:`OK` button
      
    * - :program:`vSphere Client`
      - 
      - Right click on :guilabel:`{{ v['name'] }}` and select :menuselection:`Power --> Power On`
