
    
*****************************************************************
Solaris System Identification for ``{{ h['hostname'] }}``
*****************************************************************

.. note:: Enter the passwords specified in the tables below exactly as specified.  The passwords will be changed later.
    
===================================================
{{ h['hostname'] }} OS Parameters
===================================================

{{ common_macros.applicable_servers_table([h['hostname']], 'root') }}

Power on ``{{ h['hostname'] }}``.  When the system configuration :term:`GUI` is displayed, use the following table to answer the questions:

.. tabularcolumns:: |>{\RaggedRight}p{\dimexpr 0.3\linewidth-2\tabcolsep}
                    |>{\RaggedRight}p{\dimexpr 0.5\linewidth-2\tabcolsep}
                    |>{\RaggedRight}p{\dimexpr 0.2\linewidth-2\tabcolsep}|

.. list-table:: Configuration Table for {{ h['hostname'] }}
    :header-rows: 1
    
    * - **Menu/Window**
      - **Options**
      - **Action**

    * - :guilabel:`System Configuration Tool`
      - 
      - :kbd:`F2`

    * - :guilabel:`System Identity`
      - ``{{ h['hostname'] }}``
      - :kbd:`F2`

    * - :guilabel:`Network`
      - Select :guilabel:`Manually`
      - :kbd:`F2`

    * - :guilabel:`Manually Configure net0/v4`
      - {% for interface in h['networking']['interfaces'] if interface['type'] == 'ip' and interface['primary'] -%}
        | :guilabel:`IP Address:` ``{{ interface['ipv4_address'] }}``  
        | :guilabel:`Net mask:` ``{{ interface['ipv4_netmask'] }}``
        | :guilabel:`Router:` ``{{ interface['ipv4_router'] }}`` 
        {%- endfor %}
      - :kbd:`F2`

    * - :guilabel:`DNS Name Service`
      - Select :guilabel:`Configure DNS`
      - :kbd:`F2`
    
    * - :guilabel:`DNS Server IP Addresses`
      - {% for ip in h['networking']['dns']['domain_name_servers'] -%}| ``{{ ip['ipv4_address']}}``
        {% endfor %}
      - :kbd:`F2`
      
    * - :guilabel:`DNS Search List`
      - ``{{ h['networking']['dns']['domain_name'] }}``
      - :kbd:`F2`
      
    * - :guilabel:`Alternate Name Service`
      - Select :guilabel:`None`
      - :kbd:`F2`
      
    * - :guilabel:`Time Zone Regions`
      - Select :guilabel:`UTC/GMT`
      - :kbd:`F2`
      
    * - :guilabel:`Locale: Language`
      - Select :guilabel:`English`
      - :kbd:`F2`
      
    * - :guilabel:`Locale: Territory`
      - Select :guilabel:`United States`
      - :kbd:`F2`
      
    * - :guilabel:`Date and Time`
      -
      - :kbd:`F2`
      
    * - :guilabel:`Keyboard`
      - Select :guilabel:`US-English`
      - :kbd:`F2`

    * - :guilabel:`Users`
      - | :guilabel:`Root password`: ``Password1``
        | :guilabel:`Confirm password`: ``Password1``
        
        | :guilabel:`Your real name`: ``install``
        | :guilabel:`Username`: ``install``
        | :guilabel:`User password`: ``Password#123``
        | :guilabel:`Confirm User password`: ``Password#123``
      - :kbd:`F2`
    
    * - :guilabel:`Support - Registration`
      -
      - :kbd:`F2`
      
    * - :guilabel:`Support - Network Configuration`
      -
      - :kbd:`F2`

    * - :guilabel:`System Configuration Summary`
      -
      - :kbd:`F2`
      
{{ common_macros.sign_off_table([h['hostname']]) }}
